<div class="container">

  <div class="form-control">

    <label>Nome</label>
    <input change-color name="vm.inputModel" type="text" ng-model="vm.inputModel">

  </div>

  <button type="button" class="btn btn-block"
          ng-click="vm.click()" >OK
  </button>
  <div class="col-lg-4">
    <h1 ng-bind="vm.inputModel"></h1>
    <h1
      ng-class="{'label-success' : vm.user.name === 'Deividi'}"
      ng-bind="vm.user.name"></h1>
  </div>

  <p ng-bind="vm.time"></p>


  <p ng-hide="vm.inputModel === 'html'">HIDE!</p>
  <button
    ng-show="vm.inputModel === 'html'"
    class="btn" type="button"
    ui-sref="list">Lista (Via HTML)</button>

  <button
    ng-disabled="vm.inputModel === 'html'"
    class="btn" ng-click="vm.navigateToList()">Lista (Via JS)</button>


    <div class="container">
                    <h1 class="text-center">
                        <span ng-hide="vm.repoData"/>Loading...</span>
                        <span />{{userData.name}}</span>
                        <br>
                        <a href="{{vm.userData.html_url}}" class="btn btn-default">
                            <span class="octicon octicon-octoface"></span>
                            {{userData.login}}
                        </a>

                    </h1>

                <div class="panel  panel-default">
                    <div class="panel-heading">

                        <form class="form-inline">
                            <span>
                                <h4>Repos <span class="badge">{{repoData.length}}</span>
                                <input ng-model="vm.searchText" placeholder="Find a repo..." class="form-control input-sm">
                                </h4>
                            </span>
                        </form>

                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <div ui-sref="repo({name : repo.name, username: repo.owner.login})" ng-repeat="repo in vm.repoData | filter:vm.searchText  | orderBy:vm.predicate:reverse" class="list-group-item ">
                                <div class="row">

                                    <div class="col-md-8">
                                        <img ng-src="{{repo.owner.avatar_url}}" alt="" class="thumbnail" />
                                        <h4>
                                            <small>
                                                <span ng-if="repo.fork" class="octicon octicon-repo-forked"></span>
                                                <span ng-if="!repo.fork" class="octicon octicon-repo"></span>
                                            </small>
                                            <a href="{{repo.html_url}}" target="_blank" >
                                                {{repo.name}}
                                            </a>
                                            <small>{{repo.description}}</small>
                                        </h4>

                                        <small>
                                            <a href="{{repo.homepage}}" class="">
                                                <i class="fa fa-link"></i> WebPage
                                            </a>
                                        </small>
                                    </div>
                                    <div class="col-md-4">
                                        <dl class="dl-horizontal">
                                          <dt>Last Updated:</dt>
                                          <dd>{{repo.updated_at | date : short : timezone}}</dd>
                                          <dt>Created:</dt>
                                          <dd>{{repo.created_at| date : short : timezone}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

</div>
</div>
